{% extends getPartial('page-design') %}

{% block PageBody %}

	



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Optimum</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/custom.css" type="text/css" media="screen"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  
</head>
<body>

<header>
<div class="top">
	<div class="container text-right">
		<div class="top-nav">
			<a class="tn"><i class="fa fa-user" aria-hidden="true"></i> ANMELDEN</a>
			<a class="reg"><i class="fa fa-user-plus" aria-hidden="true"></i> REGISTRIEREN</a>
			<a class="lang"><img src="img/lang.png" /></a>
			<a class="curr">€</a>
			<a class="srch"><i class="fa fa-search" aria-hidden="true"></i></a>
			<a class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 0,00 EUR</a>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src="img/logo.png" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">AUTO      </a></li>

		
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> GLAS & KERAMIK 
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="#">Cum sociis natoque </a></li>
			  <li><a href="#">Penatibus et magnis</a></li>
			  <li><a href="#">Dis parturient</a></li>
			  <li><a href="#">Nascetur </a></li>
			  <li><a href="#">Ridiculusmus </a></li>
			</ul>
		 </li>
		
		
        <li><a href="#">METALL & KUNSTSTOFF      </a></li>
        <li><a href="#">HOLZ      </a></li>
        <li><a href="#">LEDER & TEXTIL      </a></li>
        <li><a href="#">UNIVERSAL      </a></li>
        <li><a href="#">BRANCHEN                   </a></li>
      </ul>

    </div>
  </div>
</nav>
</header> 
 
<div class="content">
	<div class="container">
		<div class="banner">
			<div class="owl-carousel owl-theme sc">
				<div class="item">
				  <div class="gen">
					<img src="https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/images/homepage/slider_paydirekt.jpg" />
				  </div>
				</div>
				<div class="item">
				   <div class="gen">
					<img src="https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/images/homepage/slider1.jpg" />
				  </div>
				</div>
			   <div class="item">
				  <div class="gen">
					<img src="https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/images/homepage/slider2.jpg" />
				  </div>
				</div>
 
          </div>
		</div>
		
		
		<div class="productwrap grnbck">
			<div class="hding text-uppercase">Unsere <span class="bold">Produktempfehlungen</span></div>
			
			<div class="row plwrap">
				<div class="pls"><img src="img/p1.jpg" /></div>
				<div class="pls"><img src="img/p1.jpg" /></div>
				<div class="pls"><img src="img/p1.jpg" /></div>
				<div class="pls"><img src="img/p1.jpg" /></div>
				<div class="pls"><img src="img/p1.jpg" /></div>
			</div>
			
		</div>
		
		
		<div class="servicewrap grnbck">
			<div class="hding text-uppercase"><span class="bold">LiquiGlas - </span>flussigglas Versiegelung - Made in Germany<br/>
Faszinierende Technologie - Effiziente Beschichtungen zu bezahlbaren Preisen	</div>
			
			<div class="row ">
				<div class="col-sm-6 mb10">
					<div class="mb10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
					<div class="mb10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
					<div class="mb10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
					<div class="mb10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
				</div>
				
				<div class="col-sm-6 mb10">
					<div class="bold mb10">Video: Erleben Sie die neue Generation der Flüssigglas-Versiege</div>
					
					<img src="img/s1.jpg" class="img-responsive" style="width:100%;" />
					
				</div>
				
			</div>
			
		</div>
		
		
	</div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>


<script>
         
				$('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass: true,
				autoplay:true,
				autoplayTimeout:3000,
				//autoplayHoverPause:true,
				center: true,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
					margin: 10,
                    nav: false
                  },
                  600: {
                    items: 1,
					margin: 10,
                    nav: false
                  },
                  1000: {
                    items: 1,
                    nav: true,
                    loop: true,
                    margin: 10
                  }
                }
              })
		
			  
			
			  
       
          </script>
</body>
</html>
{% endblock %}
